.row {
  margin: 5rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.posters {
  margin-top: 1px;
  display: flex;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.304); */
  /* padding: 34px; */
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 20px;
}

.poster {
  width: 200px;
  height: 280px;
  margin: 8px;
  margin-top: 66px;
  border-radius: 3px 16px 16px 3px;
  cursor: pointer;
  transition: 300ms;
}

.poster:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0px 0px 26px 5px rgb(0, 129, 92);
  background: rgb(103, 151, 255);
  transition: 300ms;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  padding-left: 15px;
  transition: 200ms;
  background-color: #68686839;
  border-radius: 10px;
}

.title:hover {
  background-color: #00e5ff39;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.noBookPara{
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 400;
}

.bookTitle {
  margin-top: 12px;
  margin-left: 10px;
  font-weight: 500;
}

/* loader */
.loader {
  margin: auto;
  margin-top: 40px;
  width: 45px;
  height: 40px;
  background: linear-gradient(
      #0000 calc(1 * 100% / 6),
      #fff 0 calc(3 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(2 * 100% / 6),
      #fff 0 calc(4 * 100% / 6),
      #0000 0
    ),
    linear-gradient(
      #0000 calc(3 * 100% / 6),
      #fff 0 calc(5 * 100% / 6),
      #0000 0
    );
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%;
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
}

@media screen and (max-width: 440px) {
  .posters {
    justify-content: center;
  }
  .poster {
    max-width: 7rem;
    max-height: 10rem;
  }
  .row {
    margin: 1rem;
  }
}
