.top{
    padding: 0px 300px 0px 300px;
}

.container{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
}

.genre{
    display:inline;
}


.description h3{
    font-size: 20px;
    color: rgb(0, 28, 141);
    margin-top: 14px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.image{
    width: 430px;
    height: 520px;
    border-radius: 40px;
    padding: 20px;
}

.title{
    color:rgb(0, 100, 100);
    text-align: center;
    font-size: 34px;
}

.description{
    margin: auto;
    margin-top: 0px;
    font-size: 17px;
    width: 480px;
    padding: 30px;
    word-break: break-all;
}


.button{
    padding: 12px 39px 12px 39px ;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: black;
    font-weight: 500;
    border-radius: 20px;
    margin: 10px;
    transition: 200ms; 
}

.button:hover{
    transform: scale(1.1);
    transition: 200ms;
}

.showBtn{
    display: flex;
    color: rgb(9, 126, 130);
}

.full_name{
    margin: 20px;
    font-size: 20px;
}

.btnDiv{
    display: flex;
    justify-content: center;
}

@media(max-width: 1290px){
    .top{
        padding: 0%;
    }
}